#userCard {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    will-change: opacity;
}

#userCard.show {
    opacity: 1;
    pointer-events: auto;
    margin-bottom: 20px;
}
